@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css */
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #091A0B;
  transition: background-color 1s ease;
}

body.black-background {
  background-color: black;
}

body.default-background {
  background-color: #091A0B;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}